body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: #E7ECF0;
    text-align: center;
}

header{
    background: #ffffff;
    text-align: center;

}

@keyframes logo {
    from{color: #3399ff}
    50%{color: slategrey}
    to{color: #3399ff}
}

.logo{
    color: #3399ff;
    font-size: 40px;
    text-align: center;
    font-family:'Anton', sans-serif;

    animation: logo 10s ease-in-out infinite;
}



.description{
    color: #3399ff;
    padding: 10px;
}

.mainColumn{
    margin: auto;
    box-sizing: border-box;
    max-width: 540px;
}

.textField{
    margin-top: 10px;
    background: #EAF5FC;
    display: flex;
    flex-direction: row;
}

.textField textarea{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    width: 80%;
    border: 1px solid #3399ff;
    border-radius: 5px;
    resize: none;
    outline: none;
}

::-webkit-input-placeholder {
    color: #3399ff;
}

:focus::-webkit-input-placeholder {
    color: lightgray;
}

.twunt {
    font-size: 15px;
    font-weight: bold;
    background: #3399ff;
    margin-top: 15px;
    margin-right: 10px;
    color: white;
    height: 30px;
    width: 70px;
    border-radius: 15px;
    outline: none;

}

.messages{
    text-align: left;
    font-size: 14px;
    padding: 10px;
    margin-bottom: 4px;
    margin-top: 4px;
    background: white;
    color: slategrey;

    opacity: 1;
}

.messages.active,
.messages-enter.messages-enter-active {
    background: #EAF5FC;
    color: #EAF5FC;
    transition: all .5s ease-in;
    opacity: 0;

}

.messages-enter-done.active{
    background: white;
    color: slategrey;
    opacity: 1;

}

.message{
     color: black;
     font-size: 17px;
 }